# Elige UNO de los dos motores soportados.

# --- PostgreSQL ---
# DATABASE_URL=postgresql+psycopg2://usuario:password@localhost:5432/ipam_db

# --- MySQL ---
# DATABASE_URL=mysql+pymysql://usuario:password@localhost:3306/ipam_db

DATABASE_URL=postgresql+psycopg2://ipam:ipam@localhost:5432/ipam_db

SQL_ECHO=false

# PIN de autorización temporal para consultas TCP (app/services/authorization.py)
PROVIDER_PIN=231451267