*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/app/__pycache__
/app/crud/__pycache__
/app/Models/__pycache__
/alembic/__pycache__
/alembic/versions/__pycache__
/app/services/__pycache__
/tests/python/__pycache__
/app/api/__pycache__
.pytest_cache
/app/api/routers/__pycache__